<div class="button-add">
  <button mat-raised-button color="primary" (click)="addNewClient()">Добавить</button>
</div>

<table mat-table [dataSource]="clients" class="mat-elevation-z8">
  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef class="cell">Логин</th>
    <td mat-cell *matCellDef="let element"> {{element.login}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef class="cell">Имя</th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef class="cell">Отчество</th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="surName">
    <th mat-header-cell *matHeaderCellDef class="cell">Фамилия</th>
    <td mat-cell *matCellDef="let element"> {{element.surName}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef class="cell">Пол</th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef class="cell"></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="cell-edit-icon" (click)="edit(element)">edit</mat-icon>
      <mat-icon class="cell-edit-icon" (click)="remove(element.id)">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
