<div>
  <h3 *ngIf="!data.register && data.client.id">Редактирование клиента</h3>
  <h3 *ngIf="!data.register && !data.client.id">Добавление клиента</h3>
  <h3 *ngIf="data.register && !data.client.id">Регистрация</h3>
  <form class="example-form" [formGroup]="clientForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Логин" formControlName="login">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Пароль" formControlName="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Фамилия" formControlName="surName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Имя" formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Отчество" formControlName="lastName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Пол</mat-label>
      <mat-select matNativeControl formControlName="gender">
        <mat-option value="MALE">Муж</mat-option>
        <mat-option value="FEMALE">Жен</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
    <button mat-raised-button color="primary" (click)="cancel()">Отменить</button>
  </form>
</div>
