<div class="button-add">
  <button mat-raised-button color="primary" (click)="addNewTicket()">Добавить</button>
</div>

<table mat-table [dataSource]="tickets" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="cell">Дата</th>
    <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef class="cell">Цена</th>
    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
  </ng-container>

  <ng-container matColumnDef="client">
    <th mat-header-cell *matHeaderCellDef class="cell">Логин клиента</th>
    <td mat-cell *matCellDef="let element"> {{element.client.login}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef class="cell"></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="cell-edit-icon" (click)="remove(element.id)">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

