<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>Авторизация</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [formGroup]="loginForm">
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Логин" formControlName="login">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Пароль" formControlName="password">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="login()">Логин</button>
    <button mat-raised-button color="primary" (click)="register()">Регистрация</button>
  </mat-card-actions>
</mat-card>
