<div>
  <h3 *ngIf="data.id">Редактирование билета</h3>
  <h3 *ngIf="!data.id">Добавление билета</h3>
  <form class="example-form" [formGroup]="ticketForm">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="выберите дату билета" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="Цена" formControlName="cost">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Клиент</mat-label>
      <mat-select matNativeControl formControlName="client">
        <mat-option *ngFor="let client of clients" [value]="client">
          {{client.login + ' ' + client.surName + ' ' + client.firstName + ' ' + client.lastName}}
        </mat-option>
      </mat-select>
  </mat-form-field>

    <button mat-raised-button color="primary" (click)="save()">Сохранить</button>
    <button mat-raised-button color="primary" (click)="cancel()">Отменить</button>
  </form>
</div>
