<!DOCTYPE html>
<html>
<body>
<button mat-raised-button color="primary" class="logout" (click)="logout()">Выйти</button>
<mat-tab-group>
  <mat-tab label="Клиенты">
    <ng-template matTabContent>
      <app-clients></app-clients>
    </ng-template>
  </mat-tab>
  <mat-tab label="Билеты">
    <ng-template matTabContent>
      <app-tickets></app-tickets>
    </ng-template>
  </mat-tab>
</mat-tab-group>
</body>
</html>
